

.primary-btn {
  width: 100%;
  font-size: 1.45rem;
  padding: 1.25rem 0;
  font-weight: 600;
  background-color: #487B00;
  border: 1px solid #2e6da4;
  color: white;
}

.primary-btn:hover{
     background-color: #3275b1;
     opacity: 10px;
}