<!--
    Hunter Gambee-Iddings
    Natalya Langford
    Nathan Waggoner
    Philip Grazhdan
    Sean McCoy
    Wenkang Yu Zhen
-->
@page "/bad-address/{CustomerId:int}"

<h1>Confirmation</h1>
<p>
    If this information matches the envelope, click or tap the button below.
    <br />
    Customer name: @customerName
    <br />
    Customer ID: @CustomerId
    <br />
    Customer address: @customerAddress
    <br />
    Bad Address: @badAddress
</p>

<button class="btn btn-primary" @onclick="HandleInvalidAddress">Invalidate customer address.</button>

