@page "/"

<PageTitle>Home</PageTitle>

<div class="application">
    <div class="application__content">
        <div class="application__content-message">
            <h1>Hello, world!</h1>
            <p> Welcome to your new app.</p>
        </div>

    </div>
</div>