

.primary-btn {
  width: 100%;
  font-size: 1.45rem;
  padding: 1.25rem 0;
  font-weight: 600;
  background-color: #487B00;
  border: 1px solid #e0e0e0;
  color: #ffffff;
}

.primary-btn:hover{
     background-color: $color-blue-opuc;
     opacity: 10px;
     color: white;
}


.secondary-btn{
  width: 100%;
  font-size: 1.45rem;
  padding: 1.25rem 0;
  font-weight: 600;
  background-color: #f3f1f1;
  border: 3px solid $color-blue-opuc;
  color: $color-blue-opuc;
}

.secondary-btn:hover{
     background-color: $color-blue-opuc;
     opacity: 10px;
     color: white;
}