/*
// ---------------- you can manage your media queries here ---------------- //

375px               Phone-M

375px - 425px       Phone-L

425px - 600px:      Phone

600px - 900px:      Tablet Portrait

900px - 1200px:     Tablet Landscape

1200px - 1800px:    Normal Styles

1800px +:           Large Desktop

*/
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px); /* higher */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* final position */
  }
}
.fade-down {
  opacity: 0;
  transform: translateY(-10px); /* start slightly above */
  animation: fadeDown 0.55s ease-out forwards;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 50.25%;
  }
}
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 69%;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.page {
  width: 100%;
  background-color: #fafbfb;
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.root {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #4D4D4D;
  background-color: #fafafa;
}

h1 {
  font-size: 2.55rem;
  color: #487B00;
  font-weight: 600;
}

h2 {
  color: #487B00;
}

h3 {
  color: #3E6B00;
  width: 100%;
  font-weight: 600;
}

h4 {
  width: 100%;
  font-size: 2.35rem;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h6 {
  font-size: 2.75rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 0.1rem;
}

.primary-btn {
  width: 100%;
  font-size: 1.45rem;
  padding: 1.25rem 0;
  font-weight: 600;
  background-color: #487B00;
  border: 1px solid #e0e0e0;
  color: #ffffff;
}

.primary-btn:hover {
  background-color: #01569b;
  opacity: 10px;
  color: white;
}

.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 15px solid #01569b;
}
.header__left-logo {
  width: 150px;
  height: 8rem;
  display: block;
}
@media only screen and (min-width: 56.25em) {
  .header__left-logo {
    width: 150px;
  }
}

.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
}
.application h1 {
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 56.25em) {
  .application {
    width: 100%;
  }
}
.application__content {
  margin-top: 2rem;
}
.application__content-message {
  width: 100%;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.application__content-confirmation {
  width: 100%;
  padding: 2rem;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 1rem;
  border: 1px solid #ccc;
}
.application__reset {
  border-radius: 10px;
  padding: 20px;
  background-color: #f2f2f2;
  width: 100%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 56.25em) {
  .application__reset {
    flex-direction: row;
    width: 80%;
    max-width: 600px;
  }
}
@media only screen and (min-width: 56.25em) {
  .application__reset-box {
    flex-direction: row;
    width: 100%;
    max-width: 900px;
  }
}
.application__reset-label {
  font-size: 1.45rem;
  font-weight: bold;
  color: #4D4D4D;
}
.application__input {
  width: 100%;
  font-size: 1.55rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #6E6E6E;
  transition: border-color 0.2s ease;
}

.row {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
}
.row__box > form {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 56.25em) {
  .row__box > form {
    flex-direction: row;
    align-items: flex-start;
  }
}
.row__box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 56.25em) {
  .row__box {
    flex-direction: row;
    width: 80%;
    max-width: 1000px;
  }
}
@media only screen and (min-width: 56.25em) {
  .row__box-left {
    flex: 50%;
    padding: 2rem;
    justify-content: start;
  }
}
.row__box-right {
  border-top: 1px solid #B8B8B8;
  margin-top: 1rem;
}
@media only screen and (min-width: 56.25em) {
  .row__box-right {
    border-top: none;
    flex: 30%;
    padding: 2rem;
    margin-top: 3rem;
  }
}
.row__box-right--i {
  margin-top: 10px;
  width: 100%;
}
.row__box-right--span {
  font-size: 1.55rem;
}
.row__box-label {
  font-size: 1.45rem;
  font-weight: bold;
  color: #4D4D4D;
}
.row__box-label-check {
  font-size: 1.2rem;
}
.row__box-options {
  font-size: 1.4rem;
  margin-bottom: 0px;
}
.row__input {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #6E6E6E;
  transition: border-color 0.2s ease;
}

/*# sourceMappingURL=styles.css.map */
