.header {
    width: 100%;

    background-color: $color-white;
    border-bottom: 15px solid $color-blue-opuc;

    &__left {

        &-logo {
            width: 150px;
            
            height: 8rem;
            display: block;
        }
    }

}

