@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="application">
    <div class="application_content">
        <h3>Invalid user</h3>
        <StatusMessage />
    </div>
</div>