@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<div class="application">
    <div class="application__content">
        <h1>Invalid password reset</h1>
        <p role="alert">
            The password reset link is invalid.
        </p>
    </div>
</div>