
$font-stack: 'Lato', sans-serif;

$color-white: #fff;
$color-grey: #4D4D4D;
$color-black: #222121;
$color-blue: #337ab7;
$color-blue-border: #2e6da4;
$color-blue-opuc: #01569b;
$color-green-opuc: #487B00;