@inherits LayoutComponentBase
<div class="page">

    <main class="root">
        <header class="header">

            <div class="header__left-wrapper">
                <div class="">
                    <img src="img/opuc-logo.webp" class="header__left-logo" alt="Oregon lifeline Logo" />
                </div>
            </div>

        </header>
        <article>
            @Body
        </article>
    </main>
</div>