@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>



<div class="application">
    <h1>You are authenticated</h1>

    <AuthorizeView>
        Hello @context.User.Identity?.Name!
    </AuthorizeView>

</div>