.application {
  width: 100%; 
  min-width: 100%;
  

    @include respond(tab-port) {
        width: 90%;
    }

    @include respond(big-desktop) {
        width: 70%;
    }
    &__content {
        margin-top: 2rem;
       

        &-message{
            width: 100%;
            padding: 2rem;
             background-color: #f2f2f2;
        border-radius: 1rem;
        border: 1px solid #ccc;
            
        }

        &-confirmation
        {
            width: 100%;
            padding: 2rem;
            margin: 0;
             background-color: #f2f2f2;
        border-radius: 1rem;
        border: 1px solid #ccc;
        }
    }
    
}
   
.row {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    
   

    &__box {
       
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 20px;
        background-color: #f2f2f2;
        border: 1px solid rgb(173, 173, 173);
        
        @include respond(tab-port){
            flex-direction: row;
            width: 80%;
            max-width: 900px;
        }

        &-left
        {
        
           @include respond(tab-port){
            flex: 50%;
            padding: 2rem;
            justify-content: start;
           }
            
        }

        &-right{

            border-top: 1px solid #B8B8B8;
            margin-top: 1rem;

            @include respond (tab-port){
                border-top: none;
                flex: 30%;
                padding: 2rem;
                margin-top: 3rem;
            }

            &--i {     
                    margin-top: 10px;
                    width: 100%;
                }

            &--span{
                font-size: 1.55rem;
            }
            

        }
        &-label{
            font-size: 1.55rem;
        }
    }

    &__input {
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid #6E6E6E;
        transition: border-color 0.2s ease;
        
    }
}


