@inherits LayoutComponentBase

<div class="page">

    <!--
    <div class="sidebar">
        <NavMenu />
    </div>-->

    <main>
        <header class="header">

            <div class="header__left-wrapper">
                <div class="">
                    <img src="img/opuc-logo.webp" class="header__left-logo" alt="Oregon lifeline Logo" />
                </div>
            </div>

        </header>
        <article class="">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>