/*
    Hunter Gambee-Iddings
    Natalya Langford
    Nathan Waggoner
    Philip Grazhdan
    Sean McCoy
    Wenkang Yu Zhen
*/
@page "/bad-address/{customerId:int}"
@rendermode InteractiveServer

<h1>Confirmation</h1>
<p>If the following information matches what is read on the envelope and is return mail, please cilck or tap the button below.</p>

<p>
    Customer name: @customerName
</p>
<p>
    Customer ID: @customerId
</p>
<p>
    Customer address: @customerAddress
</p>
<p>
    Bad Address: @badAddress
</p>

<button class="btn btn-primary" @onclick="HandleInvalidAddress">Invalidate customer address.</button>

@code {
    [Parameter]
    public int customerId {get; set;}
    private string customerName = "Sean McCoy";
    private string customerAddress = "1825 SW Broadway, Portland, OR 97201";
    private bool badAddress = false;

    private void HandleInvalidAddress()
    {
        badAddress = true;
    }
}
